.notfound-container {
  margin-bottom: 100px;
}
.error-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 80px;
}
.back-home-btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 5px 20px;
}
.back-home-btn:hover {
  color: white;
}
